
<!--<table class="table">
  <thead>
  <tr>
    <th scope="col"> Id  </th>
    <th scope="col">Nom du plat</th>
    <th scope="col">Auteur</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{ id }} </th>
    <td>{{ getName() }} </td>
    <td>{{ author }}</td>
    <td>{{ desc }}</td>
    <a [routerLink]="[id]">Consulter</a>
  </tr>


  </tbody>
</table>-->
<div class ="rectangle">

    <ul>
      <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLSL3F7mL2wXFrT5LA_SLZJ3t3LbL4vWOM-w&usqp=CAU"/>
    </ul>

    <ul class="center">
      {{ id }}
    </ul>
    <ul class="name" class="center">
      {{ getName()}}
    </ul>
    <ul class="center">
      Fait par {{ author}}
    </ul>
    <ul class="center">
      {{ desc}}
    </ul>
    <ul class="h">
      <a [routerLink]="[id]">Consulter</a>
    </ul>



</div>


