
<!--<table class="table">
  <thead>
  <tr>
    <th scope="col">Nom du plat</th>
    <th scope="col">Auteur</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{ getName() }} </th>
    <td>{{ author }}</td>
    <td>{{ desc }}</td>
    <a [routerLink]="[id]" >Consulter</a>
  </tr>


  </tbody>
</table>-->

<div class="card" style="width: 18rem; border-radius: 7px">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLSL3F7mL2wXFrT5LA_SLZJ3t3LbL4vWOM-w&usqp=CAU" class="card-img-top" alt="Image" >
  <div class="card-body">
    <h2 class="card-title" style="font-weight: bold"> {{getName()}}</h2>
    <p class="card-text">Fait par {{author}}</p>
    <p class="card-text">{{desc}}</p>
    <a [routerLink]="[id]" class="btn btn-outline-secondary">Consulter</a>
  </div>
</div>


