
<table class="table">
  <thead>
  <tr>
    <th scope="col">Nom ing</th>
    <th scope="col">Unité de mesure</th>
    <th scope="col">Quantité en stock</th>
    <th scope="col">Prix par unité</th>
    <th scope="col">Valeur du stock</th>
    <th scope="col">Catégorie</th>
    <th scope="col">Allergène</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{ getName() }} </th>
    <td>{{ unit}} </td>
    <td>{{ stocks }} </td>
    <td>{{ unitprice }} </td>
    <td>{{ stocks * unitprice }} </td>
    <td>{{ category }} </td>
    <td>{{ allergene }} </td>
    <td>

      <input type="button" value="Delete" class="btn btn-danger" (click)="deleteIng(id)" routerLink="ingredient"></td>

  </tr>


  </tbody>
</table>

<!--<li class="list-group-item">
  <button type="button" class="btn btn-dark" ><h4>  Ingredient :{{ id }}  --{{ getName() }} </h4></button>
  <input type="text" class="form-control" [(ngModel)]="id">

  <input type="text" class="form-control" [(ngModel)]="name">

  <input type="text" class="form-control" [(ngModel)]="unit">
  <input type="text" class="form-control" [(ngModel)]="quantity">
  <input type="text" class="form-control" [(ngModel)]="unitprice">
  <input type="text" class="form-control" [(ngModel)]="allergene">
</li>-->
