<header class="centre" >
  <h3 >{{recette.name}}</h3>
  <h4 >{{recette.author}}</h4>
</header>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Ingrédients</th>
    <th scope="col">Unité</th>
    <th scope="col">Quantité</th>
    <th scope="col">Prix U</th>
    <th scope="col">N°Phase</th>
    <th scope="col">Techniques de réalisation</th>
    <th scope="col">Durée</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>


  </tbody>
</table>


