<aside class=""fd>
<input type="button" value="Delete" class="btn btn-danger" (click)="deleteFiche()">
<aside class=""fd><form>
  <div >
    <input type="search" id="maRecherche" name="q"
           placeholder="Rechercher une recette">
    <button>Rechercher</button>
  </div>
</form>
<input type="button" value="Download PDF" class="btn btn-danger" (click)="openPDF()">
<div class="container" id="content" #content>
  <div id="htmldata">
<header class="centre" >
  <h3 >{{name}}</h3>
  <h4 >{{author}}</h4>
  <h5>{{desc}}</h5>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <label for="nbcouverts">Nombre de couverts : </label>
      <select class="form-control" id="nbcouverts" [(ngModel)]="selectedCouvert" [ngModelOptions]="{standalone: true}">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <button type="submit" class="btn btn-primary manage">Rechercher</button>
  </form>
</header>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Ingrédients</th>
    <th scope="col">Unité</th>
    <th scope="col">Quantité</th>
    <th scope="col">Prix U</th>
    <th scope="col">N°Phase</th>
    <th scope="col">Techniques de réalisation</th>
    <th scope="col">Durée</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let step of Steps; let i=index; ">
  <tr *ngFor="  let ing of step.listeIng ;let j =index;  ">

 <!-- TODO faire en sorte de faire apparaitre les étapes même si elles ne possèdent aucun ingrédients-->

    <td>{{ing.name}}</td>
    <td>{{ing.unit}}</td>
    <td>{{step.listeQuantity[j]*selectedCouvertNumber}}</td>
    <td>{{ing.unitprice}}</td>

    <td *ngIf="j==0" >{{i+1}}</td>
    <td *ngIf="j==0"><b><u>{{step.titreEtape }} </u></b><br> {{step.descEtape }}</td>
    <td *ngIf="j==0">{{step.duree}}</td>




  </tr>
    </ng-container>
  <!--<tr *ngFor="let titre of listTitresEtapes ; let i=index; " >



      <td ></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{i+1}}</td>
      <td >{{titre}}</td>
      <td>{{listDureesEtapes[i]}}




  </tr>
  <tr *ngFor=" let ing of Ing ; let i=index " >



    <td >{{ing.name}}</td>
    <td>{{ing.unit}}</td>
    <td></td>
    <td>{{ing.unitprice}}</td>
    <td>{{i+1}}</td>
    <td ></td>
    <td>{{listDureesEtapes[i]}}




  </tr>
-->

  </tbody>
</table>

<h2>Synthèse</h2>
  <h3>Ingrédients utilisés dans cette fiche technique</h3>
    <form [formGroup]="tauxForm" (ngSubmit)="onSubmitForm()">

      <div class="form-group taille" >
        <label for="prixvente">Coefficient prix de vente : </label>
        <input type="text" id ="prixvente" class="form-control"  formControlName="prixvente">
      </div>


      <div class="form-group taille">
        <label for="personnel">Coefficient coût personnel : </label>
        <input type="text" id ="personnel" class="form-control"  formControlName="personnel">
      </div>

      <div class="form-group taille">
        <label for="fluides">Coût horaires des fluides : </label>
        <input type="text" id ="fluides" class="form-control"  formControlName="fluides">
      </div>

      <button type="submit" class="btn-danger">Calculer avec les nouveaux coefficients</button>

    </form>
  <div *ngFor="let ing of listIngEtapes; let i =index;">{{ing.name }} -- cout brut : {{ing.unitprice * listQuantityIngredients[i]}} </div>
    <div>


      <label>
        <input [value]="1" [(ngModel)]="sh" name="sh" type="radio" [checked]="isChecked" /> Afficher Avec les coûts
      </label>

      <label>
        <input [value]="0" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" /> Afficher sans les coûts
      </label>


    </div>
    <div *ngIf="sh == 1" >
<p>Coût matière : {{coutMatiere}} euros</p>
  <p>Coût du personnel : {{calculCoutPersonnel()}} euros</p>
  <p>Coût des fluides :  {{calculCoutFluide()}} euros</p>
<p>Coût de production :   {{calculCoutFluide() + calculCoutPersonnel() + coutMatiere}} euros</p>
<p>Coût de production par portion: {{(calculCoutFluide() + calculCoutPersonnel() + coutMatiere)/selectedCouvertNumber}} euros</p>

<p>Coût des charges :  {{calculCoutFluide() + coutPersonnel}} euros</p>

<p>Prix de vente :{{calculPrixVente()}} euros</p>
<p>Prix de vente par portion : {{calculPrixVente()/selectedCouvertNumber}} euros</p>
<p>Bénéfice par portion :{{0.9*(calculPrixVente()/selectedCouvertNumber) - (calculCoutFluide() + calculCoutPersonnel() + coutMatiere)/selectedCouvertNumber}} euros</p>
<p>Seuil de rentabilité :{{(calculCoutFluide() + calculCoutPersonnel() + coutMatiere)/(0.9*(calculPrixVente()/selectedCouvertNumber))}} euros</p>
    </div>
</div>
</div>
  <input type="button" value="Sauvegarder le nombre de couverts" class="btn btn-danger" (click)="saveFiche()">
</aside>







