<form>
  <div>
    <input type="search" id="maRecherche" name="q"
           placeholder="Rechercher une recette">
    <button>Rechercher</button>
  </div>
</form>
<input type="button" value="Download PDF" class="btn btn-danger" (click)="SavePDF()">
<div class="container" id="content" #content>

<header class="centre" >
  <h3 >{{name}}</h3>
  <h4 >{{author}}</h4>
  <div class="form-group">
    <label for="nbcouverts">Nombre de couverts : </label>
    <select class="form-control" id="nbcouverts">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</header>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Ingrédients</th>
    <th scope="col">Unité</th>
    <th scope="col">Quantité</th>
    <th scope="col">Prix U</th>
    <th scope="col">N°Phase</th>
    <th scope="col">Techniques de réalisation</th>
    <th scope="col">Durée</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td >{{recette.id}}</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>


  </tbody>
</table>

<p>Coût matière : </p>
<p>Coût de production : </p>
<p>Coût de production par portion: </p>
<p>Coût des charges : </p>
<p>Coût du personnel : </p>
<p>Coût des fluides : </p>
<p>Prix de vente : </p>
<p>Prix de vente par portion : </p>
<p>Bénéfice par portion : </p>
<p>Seuil de rentabilité : </p>
</div>

