.centre{
  text-align: center;
}
.fd{
  background-color: #FAF7F7;
}
.btn-danger {
  background-color: #E66464;
  display : inline-block;
 margin: auto;
  margin-top : 5%;
  margin-bottom : 5%;

}
.dispo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-outline-secondary{
  display : inline-block;
  margin: auto;
  margin-top : 5%;
  margin-bottom : 5%;
}
.gros{
  font-size: xx-large;
}
.taille{
  display : inline-block;
  margin-right: 5%;
  width: 15%;
}
input{
  margin: 10px;
  margin: auto;
}

.centre2{
  margin-right: 300px;
}


