<nav class="navbar navbar-expand-sm navbar-light bg-light " id="navouille">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link navbar-brand" href="#">
        <img class="image" src="https://i.pinimg.com/474x/57/5f/f7/575ff7fd547876bedeaf4e3d6cbfb342.jpg"/>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="fiche-technique" class="nav-link" >Recettes</a>
    </li>
    <li class="nav-item">
      <a routerLink="ingredient" class="nav-link">Ingrédients</a>
    </li>
    <li class="nav-item">
      <a routerLink="stock" class="nav-link">Stocks</a>
    </li>
  </ul>
</nav>


<aside class ="fond">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</aside>
