
<nav class="navbar navbar-default">
  <div class ="container-fluid">
    <ul class ="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink=""> MYRECIPE</a></li>
      <li routerLinkActive="active"><a routerLink="fiche-technique" >Recettes</a></li>
      <li routerLinkActive="active"><a routerLink="ingredient">Ingrédients</a></li>
      <li routerLinkActive="active"><a routerLink="stock">Stocks</a></li>
      <li><img src="https://cdn.radiofrance.fr/s3/cruiser-production/2020/08/f76e923a-0072-4c0d-9837-7bf89d315133/1136_les_chats.jpg" id="logo"/>

      </li>
    </ul>



  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
