
<nav class="navbar navbar-default">
  <div class ="container-fluid">
    <ul class ="nav navbar-nav" id="navouille">
      <li class="right" routerLinkActive="active"><a routerLink="stock">Stocks</a></li>
      <li class="right" routerLinkActive="active"><a routerLink="ingredient">Ingrédients</a></li>
      <li class="right" routerLinkActive="active"><a routerLink="fiche-technique" >Recettes</a></li>
      <li class="right" routerLinkActive="active"><a routerLink=""> <img class="image" src="https://i.pinimg.com/474x/57/5f/f7/575ff7fd547876bedeaf4e3d6cbfb342.jpg"/></a></li>



    </ul>



  </div>
</nav>
<aside class ="fond">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</aside>
