<h2>Ajouter une fiche technique : </h2>


<form>
  <div class="row">
    <div class="col">
      <label for="nomplat">Nom du plat : </label>
      <input type="text" class="form-control" id ="nomplat" placeholder="Enter nomplat">
    </div>
    <div class="col">
      <label for="nomauteur">Nom de l'auteur : </label>
      <input type="text" class="form-control" id ="nomauteur" placeholder="Enter nomauteur">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="etape">Titre de l'étape : </label>
      <input type="text" class="form-control" id ="etape" placeholder="Enter etape">
    </div>
    <div class="col">
      <label for="desc">Description : </label>
      <input type="text" class="form-control" id ="desc" placeholder="Enter desc">
    </div>
  </div>
  <button type="submit" class="btn btn-danger">Enregistrer la fiche</button>
</form>
