<h2>Ajouter une fiche technique : </h2>



<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <!--<form (ngSubmit)="onSubmit(f)"  #f="ngForm">-->
      <form [formGroup]="recetteForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <label for="category">
            Catégorie :
          </label>
          <select class="form-control" id="category" [(ngModel)]="selectedCategory" name="categories"  formControlName="category">
            <option [ngValue]="'--'">Choisir catégorie</option>
            <option type="submit" *ngFor="let cat of categories" >{{cat.category}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">
            Nom du plat*:
          </label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label for="author">
            Auteur*:
          </label>
          <input type="text" id="author" class="form-control"  formControlName="author">
        </div>
        <div class="form-group">
          <label for="desc">
            Description :
          </label>
          <input type="text" id="desc" class="form-control" formControlName="desc">
        </div>





<div formArrayName="titles" class="right">
        <div  class="form-group" class="step"  *ngFor=" let title of titles.controls; let i=index "[id]="i" >

          <label for="title" >
            {{'Titre de l\'étape ' }}{{i+1}}
          </label>

          <input type="text" id="title" class="form-control"  [formControlName]="i">
        </div>
</div>

        <div formArrayName="descs" class="right">
        <div  class="form-group" class="step"  *ngFor=" let descr of descs.controls; let r=index "[id]="r" >

          <label for="descs" >
            {{'Description de l\'étape ' }}{{r+1}}
          </label>

          <input type="text" id="descs" class="form-control"  [formControlName]="r">
        </div>
        </div>

        <div formArrayName="times">
        <div class="form-group" class="step"  *ngFor=" let time of times.controls; let m=index "[id]="m" >
          <label for="time">
            {{'Temps nécessaire de l\'etape ' }}{{m+1}} (en minutes)
          </label>
          <input type="text" id="time" class="form-control" [formControlName]="m">
        </div>
        </div>

        <div formArrayName="ings" class="lie">
          <div class="form-group" class="step" *ngFor=" let ing of ings.controls; let j=index">
            <label [attr.for]="j">{{'Ingrédient ' }}{{j+1}} </label>
            <select class="form-control" [id]="j"  [formControlName]="j">
              <option [ngValue]="null">Select Option</option>
              <option [ngValue]="ingNul">Pas d'ingrédients</option>
              <option *ngFor="let ingredient of ingredients" >{{ingredient.name}}</option>


            </select>
          </div>
        </div>
            <div formArrayName="quantity" class="lie">
            <div class="form-group"  class="step" *ngFor=" let quantit of quantity.controls; let t=index "[id]="t">
              <label for="quantity">
                Quantité :
              </label>
              <input type="text" id="quantity" class="form-control" [formControlName]="t">
            </div>
          </div>





        <div style="text-align:center">
          <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
          <div ><img [src]="url" *ngIf="url"></div>
          <p>
            <input type="file" (change)="selectFile($event)" name="url">
          </p>
        </div>
      <button class="btn btn-danger" type ="button" (click)="addIngs() ">+   Ajouter un ingrédient</button>
      <button class="btn btn-danger" type ="button" (click)="addSteps()" >+   Ajouter une étape</button>
      <button class="btn btn-dark" type="submit">Enregistrer la fiche </button>

    </form>
  </div>
</div>
