<div>
  <h2>Consulter la liste des plats</h2>

  <!--<div>

        <input type="text" placeholder="Rechercher par nom" matInput [matAutocomplete]="auto" (input)="filterRecettes()" [(ngModel)]="searchModel">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterRecettes()">
          <mat-option *ngFor="let recette of recettesObs | async" [value]="recette.name" (onSelectionChange)="onResearch(recette, $event)">
            {{ recette.name }}
          </mat-option>
        </mat-autocomplete>
      </div>-->
<div>
  <input
    type="text"
    id="recette"
    class="form-control"
    (keyup)="filterRecettes()"
    [(ngModel)]="searchModel"
    placeholder="Rechercher par nom"
  >
  <mat-option *ngFor="let recette of recettesObs | async" [value]="recette.name" (onSelectionChange)="onResearch(recette, $event)">
    {{ recette.name }}
  </mat-option>
</div>


  <input
    type="text"
    id="ingredient"
    class="form-control"
    (keyup)="filterIng()"
    [(ngModel)]="searchModel2"
    placeholder="Rechercher par ingrédient"
  >
  <mat-option *ngFor="let ing of ingObs | async" [value]="ing.name" (onSelectionChange)="onResearchIng(ing, $event)">
    {{ ing.name }}
  </mat-option>

</div>

<form (ngSubmit)="onClick()">
  <select class="form-control" [(ngModel)]="selectedCategory" name="categories"  >
    <option [ngValue]="'Toutes categories'">Toutes catégories</option>
    <option type="submit" *ngFor="let cat of categories" >{{cat.category}}</option>
  </select>
  <button type="submit" class="btn btn-primary manage">Rechercher</button>
</form>



<button type="button" class="btn btn-danger" (click)="onForm()">Ajouter une fiche technique</button>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes fiches</h2>
      <ul class="list-group">
        <app-fiche-technique *ngFor="let recette of recettes"
                             [id]="recette.id"
                             [name]="recette.name"
                             [author]="recette.author"
                             [desc]="recette.desc" (click)="onView(recette)">
        </app-fiche-technique>

      </ul>

    </div>
  </div>
</div>
