<h2 class="texte">Gérer les stocks</h2>
<h3 class="texte">Enregistrer une vente</h3>
<h5 class="texte">Attention pour enregistrer la vente lorsque vous imprimez une étiquette n'oubliez pas d'appuyer sur enregister la vente sauf si vous ne souhaitez pas baisser vos stocks</h5>

<form [formGroup]="stockForm" (ngSubmit)="onSubmitForm()">

  <div class="form-group">
    <select class="form-control"  formControlName="nameRecette">
      <option [ngValue]="null">Nom du plat</option>
      <option *ngFor="let recette of recettes"> {{recette.name}}</option>
    </select>
  </div>


    <div class="form-group">
      <label for="nbplats">Nombre de plats vendus : </label>
      <input type="text" id ="nbplats" class="form-control"  formControlName="nbplats">
    </div>

  <button type="submit" class="btn-danger">Ajouter la vente</button>

</form>
<button type="button" class="btn-danger" (click)="show()" (click)="openPDF()"  >Imprimer une étiquette </button>
<div id="htmldata">
<div class="container" id="content" #content>
  <p>Merci d'avoir acheté notre {{recetteToShow.name}}</p>
  <p>Voici la liste des ingrédients que contient ce plat : </p>
  <p *ngFor="let ing of recetteToShow.listIngEtapes">{{ing.name}}</p>

</div>
</div>




