.btn-dark{
  border-radius: 3rem;
  background-color: black;
  color:white;
  margin-left : 20%;
  margin-right : 5%;

}
.aside {
  width: 50%;
  height: 100%;
  float: left;
  margin-left: 15%;

}
.welcome{
  margin-left: 10%;
}
body {
  float : left;

  background-color: #F6F6F6;
  font-family: "Segoe UI Normal", sans-serif;

}

.footer{
  position: relative;
  float: right;
  bottom: 0;
  width:70%;
  height: 30%;
  margin-top: 5%;
}
.dispo{
  margin: 20px;
}
