<aside class="aside">


<h2 class="welcome">Bienvenue</h2>
  <p class="welcome">Créez et Consultez vos propres recettes</p>
<button  type="button" class="btn btn-dark" (click)="onForm()">Créer une nouvelle fiche</button>
</aside>
<body class="body">
<img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuLFYDS7H4GIwnzEpm29ikSnbqzhwiqKR6sQ&usqp=CAU" />
</body>
<footer class="footer">
  <h3>Mes dernières recettes</h3>

    <app-fiche-technique  *ngFor="let recette of recettas"

                          [id]="recette.id"
                          [name]="recette.name"
                          [author]="recette.author"
                          [desc]="recette.desc" (click)="onView(recette)"></app-fiche-technique>

</footer>



